<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-dattaable-pro"
                class="b-brand">
                <img src="/static/assets/images/logo-favicon.png" width="30px">
                <span class="b-title">Menú</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navegación</label>
                </li>
                <li data-username="Sample Page" class="nav-item"><a href="/index.html" class="nav-link"><span
                            class="pcoded-micon"><i class="feather icon-bar-chart"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="{% url 'page_agenda' %}"
                        class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span><span
                            class="pcoded-mtext">Tomar Hora</span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="{% url 'page_lista' %}" class="nav-link"><span
                            class="pcoded-micon"><i class="feather icon-book"></i></span><span
                            class="pcoded-mtext">Historico Agenda</span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="{% url 'page_agenda_medico' %}"
                        class="nav-link"><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span
                            class="pcoded-mtext">Agenda Medico</span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="{% url 'page_personal' %}"
                        class="nav-link"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span
                            class="pcoded-mtext">Personal</span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="{% url 'page_pago_atencion' %}"
                        class="nav-link"><span class="pcoded-micon"><i class="feather icon-credit-card"></i></span><span
                            class="pcoded-mtext">Pago Atención</span></a></li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span
                            class="pcoded-mtext">Salir ({{request.user.username}})</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>