{% extends "../layouts/base.html" %}

{% block title %} Calendario {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Atenciones del Dia</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Carlos Bilardo</h6>
                                                    <p class="m-0">Area cardiologia</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Juan Perez</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Camila Fuentes</h6>
                                                    <p class="m-0">Area neurologia</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Tomas Halabi</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 13:30</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Jose Paloma</h6>
                                                    <p class="m-0">Area pediatria</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Armando Legos</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 14:15</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Taina Pereira</h6>
                                                    <p class="m-0">Area oncologia</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Armando Puertas</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 14:10</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Ignacio Alajasin</h6>
                                                    <p class="m-0">Area medicina general</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Armando Legos</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 14:15</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Rodrigo Gordo</h6>
                                                    <p class="m-0">Area cardiologia</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Desarmando Armandos</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 14:40</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                <td>
                                                    <h6 class="mb-1">Camila Fuentes</h6>
                                                    <p class="m-0">Area neurologia</p>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">Armando Puentes</h6>
                                                    <p class="m-0">Paciente</p>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 14:00</h6>
                                                </td>
                                                <td><a href="#!" class="label theme-bg2 text-white f-12">Rechazar Atención</a><a href="#!" class="label theme-bg text-white f-12">Aceptar Atencíon</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>




{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}