{% extends "../layouts/base.html" %}

{% block title %} Calendario {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="card" style="width: 50rem;">
  <form>
    <h3>Datos Personales </h3>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">nombre</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="carlos rodriguez">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">edad</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="33">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">telefono</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+5421356851">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">celular</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+569321352156">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">alergia</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="polem">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">ciudad</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Santiago</option>
        <option>Temuco</option>
        <option>Arica</option>
        <option>Iquique</option>
        <option>Viña del mar</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="exampleFormControlInput1">direccion</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="av.peru">
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlSelect1">Estado civil</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Casado</option>
        <option>Soltero</option>
        <option>Viudo</option>

      </select>
    </div>

    <div class="form-check form-check-inline">
      <div >
      <label for="exampleFormControlSelect1">Sexo</label>
      </div>
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Hombre</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Mujer</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
      <label class="form-check-label" for="inlineRadio3">otro</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>
   
  </form>
 
</div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}