
<footer class="footer-04 margen-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h3 class="footer-heading"><a >NOSOTROS</a></h3>
          <p>Nuestro centro medico se caracteriza por tener una excelente atencion, 
            nuestro nuevo modulo de agenda te facilita la atencion. Pruebalo te esperamos.</p>
        </div>
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h2 class="footer-heading">Especialidades</h2>
          <ul class="list-unstyled">
            <li><a class="py-1 d-block">Cardiologia</a></li>
            <li><a class="py-1 d-block">Endocrinología y Nutrición</a></li>
            <li><a class="py-1 d-block">Geriatría</a></li>
            <li><a class="py-1 d-block">Y más...</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h2 class="footer-heading">Sucursales</h2>
          <div class="tagcloud">
            <a>Centro Medico Providencia </a>
            <a>Centro Medico Quilicura </a>
            <a>Centro Medico Huechuraba </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h2 class="footer-heading">Suscribirse</h2>
          <a href="{% url 'login' %}">Ir a registrarse</a>
          <h2 class="footer-heading mt-5">Redes Sociales</h2>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                  class="ion-logo-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                  class="ion-logo-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                  class="ion-logo-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-100 mt-5 border-top py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8">

            <p class="copyright">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> IMG Software - Todos los derechos reservados
              
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          <div class="col-md-6 col-lg-4 text-md-right">
            <p class="mb-0 list-unstyled">
              <a class="mr-md-3" href="#">Terminos</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>