{% extends "../layouts/base.html" %}

{% block title %} Calendario {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="d-flex justify-content-start">
        <form action="" method="post" id="formulario">

            {% csrf_token %}
            <div class="form-group">
              {{ form.as_table }} 
            </div> 

            <button type="submit" id="btnEnviar " class="btn btn-primary">Enviar</button>
        </form>
</div>
{{ mensaje }}

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}