<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Centro Medico Galenos</title>

  <!-- Estilos y fuentes del template  -->
  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href="static/assets/css/clean-blog.min.css" rel="stylesheet">
  <link href="static/assets/css/style-pagina-principal.css" rel="stylesheet">
  <link href="static/assets/css/ionicons.min.css" rel="stylesheet">

  <!-- Favicon icon -->
  <link rel="icon" href="/static/assets/images/logo-favicon.png" type="image/x-icon">

</head>

<body>

  <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'page_principal' %}">Centro Medico Galenos</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'page_principal' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'page_sucursal' %}">Sucursales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">LogIn</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Cabecera -->
  <header class="masthead" style="background-image: url('static/assets/images/sucursal-centro-medico.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Bienvenido</h1>
            <span class="subheading">Toma Hora ingresando desde nuestro Login</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Contenido Principal -->
  <div class="container">
    <div class="row">

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="static/assets/images/car.jpg" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cardiologia en todos nuestros centro de atencion.</h5>
              <a href="" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="static/assets/images/endo.jpg" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Endocrinología y Nutrición en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Geriatría en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Reaumatología en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hematología y Hemoterapia en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pediatría en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Oncología Médica en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top margen-imagen" alt="...">
            <div class="card-body">
              <h5 class="card-title">Oncología Radioterápica en todos nuestros centro de atencion.</h5>
              <a href="#" class="btn btn-primary btn-margen">Agendar Hora</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <!-- Pié de página -->
  <footer class="footer-04">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h3 class="footer-heading"><a >NOSOTROS</a></h3>
          <p>Nuestro centro medico se caracteriza por tener una excelente atencion, 
            nuestro nuevo modulo de agenda te facilita la atencion. Pruebalo te esperamos.</p>
        </div>
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h2 class="footer-heading">Especialidades</h2>
          <ul class="list-unstyled">
            <li><a class="py-1 d-block">Cardiologia</a></li>
            <li><a class="py-1 d-block">Endocrinología y Nutrición</a></li>
            <li><a class="py-1 d-block">Geriatría</a></li>
            <li><a class="py-1 d-block">Y más...</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h2 class="footer-heading">Sucursales</h2>
          <div class="tagcloud">
            <a>Centro Medico Providencia </a>
            <a>Centro Medico Quilicura </a>
            <a>Centro Medico Huechuraba </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
          <h2 class="footer-heading">Suscribirse</h2>
          <a href="{% url 'login' %}">Ir a registrarse</a>
          <h2 class="footer-heading mt-5">Redes Sociales</h2>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                  class="ion-logo-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                  class="ion-logo-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                  class="ion-logo-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-100 mt-5 border-top py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8">

            <p class="copyright">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> IMG Software - Todos los derechos reservados
              
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          <div class="col-md-6 col-lg-4 text-md-right">
            <p class="mb-0 list-unstyled">
              <a class="mr-md-3" href="#">Terminos</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap y Javascripts -->
  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/clean-blog.min.js"></script>

</body>

</html>